@charset "UTF-8";
:root {--fonttitulo: 'Courier New', Courier, monospace; 
        --fontmenu: Arial, Helvetica, sans-serif; 
        --fontfooter: Verdana, Geneva, Tahoma, sans-serif;
        --cor1: yellow; --cor2: grey; --cor3: black; --cor4: white;}

/* CABEÇALHO */
h1, h2, h3 {font-family: var(--fonttitulo); text-align: center;}

/* MENU */
nav {background-color: var(--cor3); font-family: var(--fontmenu); padding: 10px; text-align: center;}  
nav a {color: var(--cor4); margin: 20px; text-decoration: none; font-weight: bold;}
nav a:hover {background-color: var(--cor2); padding: 5px;}

/* LINKS DE RETORNO A PÁGINA PRINCIPAL*/
section {text-align: center; padding-top: 10px;} 
section a {color: var(--cor4); text-decoration: none;} 
section a:hover {text-decoration: underline;}

/* CONTEÚDO PRINCIPAL */
main {background-color: var(--cor4); max-width: 600px; margin: auto; margin-top: 20px; margin-bottom: 10px;
      padding: 10px; border: 1px solid rgb(12, 12, 100); border-radius: 20px;}
main p{text-align: justify;}
th, td {border: 2px solid black; padding: 10px;}

/* RODAPÉ */
footer {background-color: var(--cor3); color: var(--cor4); padding: 5px; line-height: 2em;
        padding-left: 40px; padding-right: 40px; font-family: var(--fontfooter);}

footer a {color: var(--cor1); text-decoration: none;}
footer a:hover {text-decoration: underline;} footer p {text-align: center;}

footer div {display: flex; justify-content: center; height: 30px;}
#paragrafo3 {display: none;}
#paragrafo4 {display: none;}

@media (max-width: 850px) {
  #paragrafo2 {display: none;}
  #paragrafo3 {display: block;}
  #paragrafo3 div {display: flex; justify-content: center;}
  footer {padding-bottom: 50px;}
}

@media (max-width: 600px) {
  footer {font-size: .7em;}
}

@media (max-width: 410px) {
  #paragrafo1 {display: block; text-align: center;}
  #paragrafo1 .espaço {display: none;}
  #paragrafo3 {display: none;}
  #paragrafo4 {display: block;}
  #paragrafo4 div {display: flex; justify-content: center;}
}
